.top5-heading {
  margin-top: 25px;
  margin-bottom: 1px;
  text-align: center;
  font-size: 35px;
}

.top-5-crypto {
  width: 98%;
  height: 250px;
  background-color: white;
  margin-top: 15px;
  margin-left: 0.5%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 10px;
}

.crypto-1 {
  width: 19%;
  height: 80%;
  background-color: rgb(239, 242, 245);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.image-ticker {
  width: 75%;
  height: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-left: -80px;
}

.price-pricechanges {
  width: 75%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  font-size: 13px;
  margin-left: -30px;
}
.crypto-2 {
  width: 19%;
  height: 80%;
  background-color: rgb(239, 242, 245);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.crypto-3 {
  width: 18%;
  height: 80%;
  background-color: rgb(239, 242, 245);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.crypto-4 {
  width: 18%;
  height: 80%;
  background-color: rgb(239, 242, 245);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}

.crypto-5 {
  width: 18%;
  height: 80%;
  background-color: rgb(239, 242, 245);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
}
