.header-main {
  width: 99.89%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  box-sizing: border-box;

  /*background-color: rgb(239, 242, 245);*/
}

.header-logo {
  height: 90%;
  width: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.header-logo:hover {
  cursor: pointer;
}
.header-logo-text {
  height: 75%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: 50px;
  text-align: center;
  font-size: 25px;
}

.header-logo-text h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  height: 1px;
  background-color: rgb(228, 232, 238);
  border: none;
  margin-top: 15px;
}

.google-login {
  margin-right: 50px;
  margin-bottom: 10px;
}

.navbar {
  width: 900px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -400px;
  background-color: ;
}

.navbar a {
  text-decoration: none;
  color: black;
  border-radius: 10px;
  width: 150px;
  height: 20px;
  text-align: center;
  font-weight: 425;
}

.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 175px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.nav1 a:hover,
.nav2:hover a,
.nav3:hover a,
.nav4:hover a,
.nav5 a:hover {
  color: rgb(41, 72, 184);
  font-weight: 400;
}
.nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 50px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}
.nav3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}
.nav4 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 125px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}
.nav5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 160px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5px;
}
