.price-item-row td {
  height: 50px;
  width: auto;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.price-item-row tr {
  border-collapse: collapse;
}

.price-item-row:hover {
  background-color: #eff2f5;
}

.coin-data-link a {
  text-decoration: none;
  color: black;
}

.coin-data-link a:hover {
  color: black;
}
